/* Small screens (up to 768px) */
@media (max-width: 767px) {
  .DesktopMenu {
    display: none;
  }
  /* CSS styles for small screens go here */
}

/* Medium screens (768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  .menuList_links ul {
    display: flex;
    gap: 20px;
  }
  .menuList_links ul li {
    height: fit-content;
    margin: auto;
  }
  .menuList_links ul li:last-child {
    margin: 0 0 0 30px;
  }
  /* CSS styles for medium screens go here */
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
  .menuList_links ul {
    display: flex;
    gap: 30px;
  }
  .menuList_links ul li {
    height: fit-content;
    margin: auto;
    font-size: 0.9em;
  }
  .menuList_links ul li:last-child {
    margin: 0 0 0 30px;
  }
 
  /* CSS styles for large screens go here */
}

/* Large screens (1440px and above) */
@media (min-width: 1440px) { 
    
}