/* Small screens (up to 767px) */
@media (max-width: 767px) {
  .menuList {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 30px 45px 30px 45px;
    height: 100dvh;
    background-color: rgba(21, 14, 40, 1);
  }
  .menuList_links {
    height: fit-content;
    margin: auto 0 auto;
  }
  .menuList ul li {
    margin: 14px;
    font-size: 18px;
  }
  .registerButton {
    margin: 10px 0;
    min-width: 40vw;
    padding: 14px;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(254, 52, 185, 1), rgba(212, 52, 254, 1),  rgba(144, 58, 255, 1));
  }

  /* CSS styles for small screens go here */
}

/* Medium screens (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for medium screens go here */
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
  /* CSS styles for large screens go here */
}
